!!! 5
%html{ lang: "en-us" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=Edge" }

    %title= current_page.data.title || "Reid Beels"

    = stylesheet_link_tag     "styles"
    = javascript_include_tag  "all"

  %body{ class: page_classes }
    %nav
      = link_to "Reid Beels", "/index.html", class: 'site-title'
      %ul
        %li= link_to "Projects", "/projects"
        %li= link_to "Photos",   "/photos"
        %li= link_to "Posts",    "/posts"

    %main
      = yield
