!!! 5
%html{ lang: "en-us" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=Edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %title= current_page.data.title || "Reid Beels"

    %script{ src: "//use.typekit.net/gtk2czs.js" }
    %script
      try { Typekit.load(); } catch(e) {}

    = stylesheet_link_tag     "styles"
    = javascript_include_tag  "all"

  %body{ class: page_classes }
    %nav.primary
      = link_to "<strong>Reid</strong>Beels", "/index.html", class: 'site-title'
      %ul
        %li= link_to "Work",     "/work",     class: 'work'
        %li= link_to "Projects", "/projects", class: 'projects'
        %li= link_to "Photos",   "/photos",   class: 'photos'
        %li= link_to "Posts",    "/posts",    class: 'posts'
        %li= link_to "Profile",  "/profile",  class: 'profile'

    %main
      = yield
