---
title: Calagator
subtitle: Project Leadership, Design, Development
list_image: work/list-calagator-[size].png
order: 20
---

:markdown
  [Calagator](http://calagator.org) is Portland's tech calendar — the place to find user group meetings and other tech-related events on any given night. It's also an [open source project](https://github.com/calagator/calagator), allowing anyone to create a calendar around their own community.

  I've been involved as a core developer and designer on Calagator since its inception in 2008 and provided many of the initial sketches and wireframes for the application.

%p
  = link_to "Visit <em>Calagator</em>", "http://calagator.org", class: 'button'

%figure
  = link_to "http://calagator.org" do
    = srcset_image_tag("work/detail-calagator-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

%figure
  %figcaption Concepts for an iOS application
  = srcset_image_tag("work/detail-calagator-2-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

%figure
  %figcaption Early Calagator wireframes
  = srcset_image_tag("work/detail-calagator-3-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
  = srcset_image_tag("work/detail-calagator-4-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

