---
title: Course Cart
subtitle: Web Application Concept
list_image: work/list-coursecart-[size].png
order: 165
---

:markdown
  _Course Cart_ was a concept developed as part of an information design course at Pratt. The central idea was to apply lessons learned from online commerce to the process of registering for college classes.

%p
  = link_to "View presentation (PDF)", "../../files/Course_Cart_Annotated_Screens.pdf", class: "button"

= srcset_image_tag("work/detail-coursecart-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-coursecart-2-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-coursecart-3-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-coursecart-4-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

