---
title: ePDX
subtitle: Web Application, Open Source Project
list_image: work/list-epdx-[size].png
order: 60
---

:markdown
  [ePDX](http://epdx.org) is a directory of the people, groups, companies, and projects that make up Portland's tech community. I started the site in 2011 as a complement to [Calagator](http://calagator.org).

  Citizenry, the [open source code](https://github.com/reidab/citizenry) behind ePDX, has been used by groups by other cities to run similar directories elsewhere and has been translated into French.

%p
  = link_to "Visit <em>ePDX</em>", "http://epdx.org", class: "button"

= srcset_image_tag("work/detail-epdx-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-epdx-2-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-epdx-3-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-epdx-4-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

