---
title: Folding for a Living Planet
subtitle: Senior Design Thesis, PNCA
list_image: work/list-foldme-[size].png
order: 130
---
:markdown
  For my senior design thesis at [PNCA](http://pnca.edu), I produced a series of origami animals promoting endangered species involved in the Oregon Zoo's conservation programs.

= srcset_image_tag("work/detail-foldme-1-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-foldme-2-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-foldme-3-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-foldme-4-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-foldme-5-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-foldme-6-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-foldme-7-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
