---
title: Open Source Bridge
subtitle: Event Planning, Identity, Website, Materials
list_image: work/list-osbridge-[size].png
order: 30
---

:markdown
  [Open Source Bridge](http://opensourcebridge.org) is a conference for open source citizens, held each year in Portland. I've been involved since planning for the first OSB began in 2008 and co-chaired the conference from 2011–2015.

  I designed the conference's visual identity and have applied it across many amusing bits of swag—from scarves to awards—and on the event website.

%p
  = link_to "Visit <em>Open Source Bridge</em>", "http://opensourcebridge.org", class: "button"

= srcset_image_tag("work/detail-osbridge-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-osbridge-2-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-osbridge-3-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-osbridge-4-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-osbridge-5-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-osbridge-6-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-osbridge-7-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-osbridge-8-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

