---
title: Paydici
subtitle: Web Application, Identity
list_image: work/list-paydici-[size].png
order: 50
---
:markdown
  I worked as a Rails developer and designer at [Paydici](http://paydici.com) from 2009 to 2012, building online billing and payment systems. As their second engineering hire and only designer, I had a wide variety of responsibilities. Some highlights include:

  - implementing a consistent and intuitive user interface
  - building a workflow to render PDF statements for print and online delivery
  - managing the technical integration with our lockbox payment partner
  - designing the corporate identity and supporting materials
  
= srcset_image_tag("work/detail-paydici-1-[size].png", srcset_widths: [606, 1212, 2424], default_width: 1212, sizes: "95vw", width: 1212)
%figure
  %figcaption Paydici's interface for property managers:
  = srcset_image_tag("work/detail-paydici-2-[size].png", srcset_widths: [606, 1212, 2424], default_width: 1212, sizes: "95vw", width: 1212)
  = srcset_image_tag("work/detail-paydici-3-[size].png", srcset_widths: [606, 1212, 2424], default_width: 1212, sizes: "95vw", width: 1212)

%figure
  %figcaption Paydici's interface for residents:
  = srcset_image_tag("work/detail-paydici-4-[size].png", srcset_widths: [606, 1212, 2424], default_width: 1212, sizes: "95vw", width: 1212)
  = srcset_image_tag("work/detail-paydici-5-[size].png", srcset_widths: [606, 1212, 2424], default_width: 1212, sizes: "95vw", width: 1212)

%figure
  %figcaption A paper statement including extra onboarding information for the first month:
  = srcset_image_tag("work/detail-paydici-6-[size].png", srcset_widths: [606, 1212, 2424], default_width: 1212, sizes: "95vw", width: 1212)
