---
title: WhereCampPDX
subtitle: Event Planning, Identity, Website
list_image: work/list-wherecamppdx-[size].png
order: 10
---

:markdown
  [WhereCampPDX](http://wherecamppdx.org) is Portland's yearly unconference at the intersection of geography, technology, design, and culture. [Audrey Eschright](http://lifeofaudrey.com) and I co-founded the event in 2008, drawing inspiration from earlier WhereCamps held in the bay area.

  I designed WhereCampPDX's northwest compass logo and other conference materials in 2008 and have   updated the WhereCampPDX website using a new map of Portland each year.

%p
  = link_to "Visit <em>WhereCampPDX</em>", "http://wherecamppdx.org", class: "button"

%figure
  %figcaption
    :markdown
      Most recently, in 2014, our site features [Eleanor Lutz's](https://twitter.com/eleanor_lutz) [Woodcut](https://www.mapbox.com/blog/interactive-woodcut-map/) map tiles via [Mapbox](https://www.mapbox.com):

  = srcset_image_tag("work/detail-wherecamppdx-site-7-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

%figure
  %figcaption
    :markdown
      The 2013 site is based on [Portland, Oregon: The Age of a City](http://labratrevenge.com/pdx/) by [Justin Palmer](http://dealloc.me):

  = srcset_image_tag("work/detail-wherecamppdx-site-6-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

%figure
  %figcaption
  :markdown
    In 2012, the background comes from a fascinating collection of [Soviet military topo maps](http://maps.vlasenko.net/soviet-military-topographic-map/map1m.html) (specifically, [section L-10](http://download.maps.vlasenko.net/smtm1000/l-10.jpg)):

  = srcset_image_tag("work/detail-wherecamppdx-site-5-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

%figure
  %figcaption
    :markdown
      2011's site features an [aerial photo of downtown and inner Portland neighborhoods from 1955](http://www.portlandoregon.gov/bps/article/146314) from the [City of Portland](http://www.portlandoregon.gov/bps/44016):

  = srcset_image_tag("work/detail-wherecamppdx-site-4-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

%figure
  %figcaption
    :markdown
      The colorful background of the 2010 site comes from T.M. Hulburt's 1894 [Paving Map of Portland](http://www.portlandoregon.gov/bps/article/148099) from the [City of Portland](http://www.portlandoregon.gov/bps/44016) archives:

  = srcset_image_tag("work/detail-wherecamppdx-site-3-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

%figure
  %figcaption
    :markdown
      2009's stark concentric rings come from a 1928 map of the [Industrial Districts of Portland](http://www.portlandoregon.gov/bps/article/146730) from the [City of Portland](http://www.portlandoregon.gov/bps/44016) archives:

  = srcset_image_tag("work/detail-wherecamppdx-site-2-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

%figure
  %figcaption
    :markdown
      Our first site was built around an [1897 USGS map of Portland](http://www.lib.utexas.edu/maps/historical/portland_or_1897.jpg) from the [Perry-Castañeda Library Map Collection](http://www.lib.utexas.edu/maps/oregon.html) at the University of Texas at Austin:

  = srcset_image_tag("work/detail-wherecamppdx-site-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
